@page "/todo"
@using Data

<h3>Todo (@items.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in items)
    {

        <li>
            <label>
                <input type="checkbox" @bind="todo.IsDone" />
                &nbsp; @todo.Title
            </label>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> items = new List<TodoItem>();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            items.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
